* {
    background-color: rgb(157, 157, 250);
}

h1 {
    background-color: rgb(241, 132, 132);
    text-align: center;
    color: rgb(255, 253, 253);
}

img {
    height: 350px;
}

.image {
    text-align: center;
}

.links {
    text-align: center;
    font-size: 25px;
}